*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{
background:#0f172a;
color:white;
scroll-behavior:smooth;
}

nav{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 60px;
background:#1e293b;
position:sticky;
top:0;
}

nav ul{
display:flex;
list-style:none;
}

nav ul li{
margin-left:25px;
}

nav a{
color:white;
text-decoration:none;
}

.hero{
height:100vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;
}

.hero img{
width:180px;
height:180px;
border-radius:50%;
border:5px solid #38bdf8;
margin-bottom:20px;
}

span{
color:#38bdf8;
}

.btn{
margin-top:20px;
padding:12px 25px;
background:#38bdf8;
color:white;
text-decoration:none;
border-radius:10px;
}

section{
padding:80px;
}

.cards{
display:flex;
flex-wrap:wrap;
gap:20px;
}

.card{
background:#1e293b;
padding:20px;
border-radius:10px;
width:120px;
text-align:center;
transition:.3s;
}

.card:hover{
transform:translateY(-8px);
background:#38bdf8;
}

.project{
background:#1e293b;
padding:25px;
margin-top:20px;
border-radius:12px;
}

footer{
text-align:center;
padding:20px;
background:#1e293b;
}
